
body{
	background-color: #8DAEE4;

}


h1{
	
	

}

.mensajeInicial{
   font-size: 20px;
	color: #F53C46;
	text-align: center;

}
.nav, ul{
	list-style-type:none;
}

.principal{
	background-color: #8C778B;
	padding: 5px;
	margin-left: 5px;

}
.mainContent{

	width: 100%;
	text-align: center;
	
	
}


.mainContent:hover{

	background-color: #3C74F5;
	
}

h2{

	color: white;
}
#cambio{

	border: 3px;
	border-radius: 2px;
	width: 125px;
	height: 150px;

}

.formulario{
	background-color: #F3DEDE;
	padding: 50px;
	height: 150px;
	width: 150px;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.centrado{

	text-align: center;
}

 h4{

	color: black;
	
}

footer{
	position: relative;
	left: 0;
	bottom: 0;

	height: 60px;
	width: 100%;
	color:#FFFFFF; 
	background: #24478F;
	text-align: right;
	line-height: 40px;
}
