
body{
	background-color: #9CB6F2;

}


h1{
	
	

}

.mensajeInicial{
   font-size: 20px;
	color: #F53C46;
	text-align: center;

}
.nav, ul{
	list-style-type:none;
}

.mainContent{

	width: 100%;
	text-align: center;
	background-color: silver;
	padding: 5px;
	
}

.mainContent:hover{

	background-color: #3C74F5;
	magin:0;
}

h2{

	color: white;
}
#cambio{

	border: 3px;
	border-radius: 2px;
	width: 125px;
	height: 150px;

}

.formulario{
	background-color: #F3DEDE;
	padding: 50px;
	height: 150px;
	width: 150px;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.centrado{

	text-align: center;
}

.footer{

	color: gray;
	
}

